<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="core/general.html :: headblock"/>
    <title>Helpdesk - ADMIN!</title>
</head>
<body>
<th:block th:insert="core/general.html :: header"/>

<div class="container">
    <div class="my-3">
        <a type="button" class="btn btn-outline-primary" th:href="@{/admin/user}">Назад</a>
    </div>
    <div class="col-md-6 offset-md-3">
        <h2 class="my-3">Редактирование пользователя</h2>
        <form th:method="POST" th:action="@{/admin/user/{id}(id = ${user.id})}" th:object="${user}">
            <div class="mb-3">
                <label for="login" class="form-label">Логин</label>
                <input type="text" class="form-control" th:field="*{login}" id="login" placeholder="Логин" required>
            </div>
            <div class="mb-3">
                <label for="role" class="form-label">Роль</label>
                <select name="role" th:field="*{role}" id="role" class="form-select">
                    <option th:each="role : ${T(ru.edu.helpdesk.entity.UserRole).values()}" th:value="${role}"
                            th:text="${role}">Role
                    </option>
                </select>
            </div>
            <div class="mb-3">
                <label for="firstName" class="form-label">Имя</label>
                <input type="text" class="form-control" th:field="*{firstName}" id="firstName" placeholder="Имя"
                       required>
            </div>
            <div class="mb-3">
                <label for="lastName" class="form-label">Фамилия</label>
                <input type="text" class="form-control" th:field="*{lastName}" id="lastName" placeholder="Фамилия"
                       required>
            </div>
            <div class="mb-3">
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" name="changePassword" id="changePassword">
                    <label class="form-check-label" for="changePassword">Новый пароль</label>
                </div>
                <input type="password" class="form-control" name="newPassword" id="newPassword">
            </div>
            <button type="submit" class="btn btn-success pull-right">Сохранить</button>
        </form>
    </div>
</div>

<th:block th:insert="core/general.html :: footer"/>
</body>
</html>
