<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="core/general.html :: headblock"/>
    <title>Helpdesk - SUPPORT!</title>
</head>
<body>
<th:block th:insert="core/general.html :: header"/>


<div class="container">

    <div class="my-3">
        <a class="btn btn-primary" th:href="'/support/openTickets'">Новые заявки</a>
    </div>

    <h2 class="my-3">Заявки</h2>

    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Номер</th>
            <th>Клиент</th>
            <th>Категория</th>
            <th>Описание</th>
            <th>Статус</th>
            <th>Дата создание</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${#lists.isEmpty(tickets)}">
            <td class="text-center" colspan="6">Все зявки закрыты</td>
        </tr>
        <tr th:each="ticket : ${tickets}">
            <td class="align-middle" th:text="${ticket.id}"></td>
            <td class="align-middle" th:text="${ticket.client}"></td>
            <td class="align-middle" th:text="${ticket.title}"></td>
            <td class="align-middle" th:text="${ticket.description}"></td>
            <td class="align-middle" th:text="${ticket.displayStatus}"></td>
            <td class="align-middle" th:text="${#temporals.format(ticket.creationAt, 'HH:mm:ss dd-MM-yyyy')}"></td>
            <td class="align-middle text-center"><a class="btn btn-primary"
                                                    th:href="'/support/ticketsupport/' + ${ticket.id}">Подробней</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
-->
</body>
</html>
