<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="core/general.html :: headblock"/>
    <title>Helpdesk - SUPPORT!</title>
</head>
<body>
<th:block th:insert="core/general.html :: header"/>


<div class="container">
    <div class="my-3">
        <a type="button" class="btn btn-primary" href="/support">Мои заявки</a>
    </div>

    <h3 class="my-3">Информация о заявке:</h3>
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th scope="col">Номер</th>
            <th scope="col">Категория</th>
            <th scope="col">Описание проблемы</th>
            <th scope="col">Дата создания</th>
            <th scope="col">В работе у:</th>
            <th scope="col">Статус</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${ticketInfo.id}"></td>
            <td th:text="${ticketInfo.title}"></td>
            <td th:text="${ticketInfo.description}"></td>
            <td th:text="${#temporals.format(ticketInfo.creationAt, 'HH:mm:ss dd-MM-yyyy')}"></td>
            <td th:if="${ticketInfo.support != null}" th:text="${ticketInfo.support.login}"></td>
            <td th:if="${ticketInfo.support == null}">Не назначен</td>
            <td th:text="${ticketInfo.displayStatus}"></td>
        </tr>
        </tbody>
    </table>

    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th scope="col">Сообщение</th>
            <th scope="col">Автор</th>
            <th scope="col">Дата</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="message : ${messages}">
            <td th:text="${message.message}"></td>
            <td th:text="${message.user.login}"></td>
            <td th:text="${#temporals.format(message.creationAt, 'HH:mm:ss dd-MM-yyyy')}"></td>

        </tr>
        </tbody>
    </table>
    <form class="col card p-3 my-5" th:method="post" th:action="@{/support/ticket/{id}(id = ${ticketInfo.id})}">
        <div class="form-group">
            <label for="message">Отправить новое сообщение</label>
            <input class="form-control" id="message" placeholder="Введите сообщение" maxlength="100" required autocomplete="off"
                   th:field="*{comment.message}"
                   type="text"/>
        </div>
        <br>
        <div>
            <input class="btn btn-primary" type="submit" value="Отправить">
        </div>

    </form>
    <table>
        <tbody>
        <tr>
            <td>
                <form class="col card p-2 my-5" th:method="post"
                      th:action="@{/support/ticketclose/{id}(id = ${ticketInfo.id})}">
                    <input class="btn btn-success" th:classappend="${ticketInfo.isCompleted() ? 'disabled' : ''}"
                           type="submit" value="Закрыть обращение">
                </form>
            </td>
            <td>
                <form class="col card p-2 my-5" th:method="post"
                      th:action="@{/support/reject/{id}(id = ${ticketInfo.id})}">
                    <input class="btn btn-danger" th:classappend="${ticketInfo.isRejected() ? 'disabled' : ''}"
                           type="submit" value="Отклонить">
                </form>
            </td>
            <td>
                <form class="col card p-2 my-5" th:method="post"
                      th:action="@{/support/ticketsupport/{id}(id = ${ticketInfo.id})}">
                    <input class="btn btn-primary" th:classappend="${ticketInfo.isWorking() ? 'disabled' : ''}"
                           type="submit" value="Взять в работу">
                </form>
            </td>

        </tr>
        </tbody>
    </table>


</div>
</body>
</html>