<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-md">
        <a class="navbar-brand">Helpdesk </a>
        <span class="navbar-text">Для регистрации введите свои данные</span>
        <span class="navbar-text">
                <a type="button" class="btn btn-outline-secondary" th:href="@{/}">Назад</a>
            </span>
    </div>
</nav>
<div class="container">
    <div class="col-md-6 offset-md-3">
        <form class="form-signin" th:action="@{/registration}" method="post">
            <h2 class="form-signin-heading">REGISTRATION FORM</h2>
            <input type="text" name="firstname" class="form-control" placeholder="Имя" required="" autofocus=""><br>
            <input type="text" name="lastname" class="form-control" placeholder="Фамилия" required="" autofocus=""><br>
            <input type="text" name="userName" class="form-control" placeholder="Логин" required="" autofocus=""><br>
            <input type="password" name="password1" class="form-control" placeholder="Пароль" required=""
                   autofocus=""><br>
            <input type="password" name="password2" class="form-control" placeholder="Повторите пароль" required=""
                   autofocus=""><br>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
        </form>
        <div class="alert alert-danger" role="alert" th:if="${!passMatch}">Введённые пароли не совпадают!</div>
        <div class="alert alert-danger" role="alert" th:if="${userExist}">Пользователь с таким логином уже существует!
        </div>
    </div>
</div>
</body>
</html>