<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="core/general.html :: headblock"/>
    <title>Helpdesk - USER!</title>
</head>
<body>
<th:block th:insert="core/general.html :: header"/>

<div class="container">
    <a type="button" class="btn btn-outline-secondary" href="/ticket">Назад</a>
    <h2>Создание новой заявки</h2>
    <form class="col card p-3 my-5" th:method="post" th:action="@{/ticket/new}">
        <div class="form-group">
            <div>
                <label>Выберите категорию</label>
            </div>
            <select name="title" class="form-select">
                <option th:each="title : ${titles}"
                        th:value="${title.id}" th:text="${title}"></option>
            </select>
        </div>
        <div class="form-group">
            <label for="message">Описание проблемы</label>
            <input class="form-control" id="message" placeholder="Введите сообщение" required autocomplete="off"
                   th:field="*{ticket.description}"
                   type="text"/>
        </div>
        <br>
        <div>
            <input class="btn btn-primary" type="submit" value="Создать заявку">
            <input class="btn btn-dark" type="reset" value="Очистить поля">
        </div>
    </form>
</div>
</body>
</html>